<!--
Statement: Introduces users to the website and supplies access to the other web pages
Authors: Kaiser Slocum, Jordan Whiteley
Team: Map Culture (Team 5)
Project: Math Culture
Date last edited: 11/7/2021
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CIS 422: Project 2</title>
    <meta charset="utf-8">
    <script src="/static/index.js"></script>
    <script src="/auth/static/login.js"></script>
    <link rel="stylesheet" href="/about/static/aboutstyle.css" />
    <script type="module" src="/auth/static/index.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/mathcultureicon.ico" />
  </head>

<body>

  <video id="vid" width="500" height="375" controlsList="nodownload" autoplay loop muted playsinline>
    <source src="/static/math_background.mp4" type="video/mp4" />
  </video>

  <nav id="ya">
    <li>
      <ul> <img src="/static/mathculturelogosmall.png" > </ul>
      <ul> <a href="/">Home</a> </ul>
      <ul> <a href="javascript:userLoggedIn();">Translate Image</a> </ul>
      <ul> <a href="/about">About us</a> </ul>
      <ul> <a href="/help">Help</a> </ul>
    </li>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn" id="buton">Account </button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#home" id="e1">Login</a>
        <a href="#about" id="e2">About</a>
      </div>
    </div>
  </nav>
  <!-- A brief introduction to our software system -->
  <section>
    <h1> <u>ABOUT US:</u> </h1>
    <h2> Who is mathculture? </h2>
    <p> We are a group of computer science students at the University of Oregon, attempting to make learning
      math more fun and interactive.<br> Prioritizing learning over cheating, our product is targeted at schools
      wanting to make learning math more interactive for their students,<br> by providing step-by-step solutions
      for designated math equations.<br><br>
    The amazing people responsible for this project are as follows:<br><br>
    <u>Liam Dauphinee: Database designer, UI: Accounts Designer, and Dataset Contributor</u><br><br>
    <u>Kaiser Slocum: Project Manager, Frontend/backend innovator, and UI: General Dev</u><br><br>
    <u>Kelemen Szimonisz: Algorithm engineer, Frontend/backend innovator, and Dataset Contributor</u><br><br>
    <u>Sofi Vinas: UI: General Dev, Documentation specialist, and Dataset Contributor</u><br><br>
    <u>Aliya Ware: Database designer & Dataset Contributor</u><br><br>
    <u>Jordan Whiteley: UI: General Dev, Branding, and Dataset Contributor</u><br><br><br></p>
  </section>
</body>
</html>
