/*
Statement: Implements draw.html styles
Authors: Kelemen Szimonisz, Kaiser Slocum
Team: Map Culture (Team 5)
Date last edited: 11/10/2021
*/

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. (source: Google API reference) */
html,
body {
    height:100%;
    width:100%;
    margin: 0px;
    padding:0px;
    background-image: url("/draw/static/paper_background.jpg");
}

/* container will span the entire width and height of the webpage */
.container {  
  width: 98vw;
  height:96vh;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 15px;
  /* define the container as a grid container */
  display: grid;
  /* three columns (three values seperated by space, sized by fraction of available space*/
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr;
  gap: 15px;
  padding: 5px;
  box-sizing: border-box;
}

/* Contains the home and account link buttons*/
.header {
    /*background-color: rgba(0,128,128,0.5);*/
    background-color: rgba(113, 100, 83,0.5);
    font-size:15px;
    font-weight:none;
    border: 2px solid #2F4858;
    /* specify the grid line numbers */
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius:25px;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}
/* Contains the controls and text input form for the Google map */
.side {
    border: 3px solid #514537; 
    /*background-color: rgba(0,128,128,0.5);*/
    grid-row-start: 2;
    grid-row-end:5;
    border-radius:25px;
    padding:20px;
    margin:10px;
}

#image-upload {
    padding-left:40px;
    align-items:center;
}
#side2 {
    margin:10px;
}
#side2 img {
    border: 3px solid #514537; 
    border-radius:25px;
    width: 100%;
    height: 100%;
    /*background-color: white;*/
    display:flex;
    align-items:center;
    justify-content:center;
}
/* Controls the position of the logo */
.imagelocation {
  display:flex;
  align-items:center;
  justify-content:center;
  padding-bottom:10px;
}
/* Controls the size of the image */
img{
    border-radius:25px;
    text-align:Center;
    width:299.5px;
    height:169.5px;
}

/* header link list */
.header li{
    width: 100%;
    list-style: none;
}
/* Controls the position of the home and account links */
.header ul{
    width: 47%;
    float: left;
    padding: 0px;
    text-align: center;    
    font-weight: bold;
}
/* Forces the account link to the right */
.header ul:last-of-type{
    float: right;
}
/* The default color of the link */
a:link, a:visited{
    color: white;
    text-decoration: none;
}
/* If the user is hovering over the link, we need to make the link stand out */
a:hover {
    text-decoration: underline;
    color: brown;
}
/* Controls the formats of the buttons */
button{
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    background-color: black;
}
/* Describe the draw div's attributes */
#drawInterface {
    /*border: 3px solid #514537;*/
    /*background-color: rgba(0,128,128,0.5);*/
    border-radius: 20px;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:4;
}
#canvas_container {
    padding-top:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#canvas {
    /*background-color: black;*/
    background:url('/draw/static/paper_background.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #514537;
    border-radius: 15px;
}
#results-container{
    padding:20px;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end:5;
    border: 3px solid #514537; 
    border-radius: 15px;
}

hr{
    height:2px;
    border:none;
    background-color:black;
}
#displayResult{
  font-weight:normal;
  line-height: 200%;

}
#color-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}
#button-set{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}
.colorblock {
    float: left;
    display: block;
    margin: 3px;    
    width:15px;
    height:15px;
}
#green{    
    background:green;
}
#blue{    
    background:blue;
}
#red{
    background:red;
}
#yellow{
    background:yellow;
}
#orange{
    background:orange;
}
#black{
    background:black;
}
#white {
    clear: left;    
    border:2px solid;
    background:white;
}

#clr, #dwnld {
    float: left;
    display : block;
}
#calc,#eraser, #displayEquation, #equationFormat, #displayResult {
    float: left;
    clear: left;
    display: block;
}

#header-container{
    padding-top:20px;
    /*border: 3px solid #000000;*/
    /*background-color: rgba(0,128,128,0.5);*/
    border-radius: 20px;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:4;
    display:flex;
    align-items:center;
    justify-content:center;
}
h3{
    color:white;
    font-size:15px;
    font-weight:none;
}
.options-container{
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 5px;
}
.option-set{
    color:white;
    padding:5px;
    margin:5px;
}
