<!--
File Name: draw.html

Author: Kelemen Szimonisz, Kaiser Slocum, Sofi Vinas
Organization: Map Culture (University of Oregon, CIS422, FALL 2021)
Team: Map Culture (Team 5)

Creation Date: 10/03/2021
Last Modified: 11/10/2021
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CIS 422: Project 2</title>    
        <meta charset="utf-8">
        <link rel="stylesheet" href="/draw/static/styledraw.css" />
        <script src="/draw/static/index.js"></script>
        <link rel="icon" type="image/x-icon" href="/static/mathcultureicon.ico" />
    </head>
    <body onload="init()">
        <div class="container"> <!---grid container--> <!---grid has base layout of rows and columns -->
            <div class="header">
                <li>
                    <ul><a href="/">Home</a></ul>
                    <ul><a href="/login">Account</a></ul>
                </li>          
            </div>
        <div class="side"> <!-- sidebar column of grid container -->
            <div class="imagelocation">
                <img src="/static/Mathculturelogo.png" alt="mapculture logo">
            </div>
            <div id="image-upload">
                <label for="file">Choose image (.jpg) to upload: </label>
                <input type="file" id="myFile" accept="image/*" name="filename" onchange="loadfile(event)">
            </div>
            <div class = "side2" id="side2">
                <!-- Contains image screenshot -->
                <img id="canvasimg"> 
            </div>
            <div id="messenger">Messenger</div>
        </div> <!-- side -->
        <div id="drawInterface">
            <div id="header-container">
                <h2>Write an equation!</h2>
            </div>
            <div id="canvas_container">
                <canvas id="canvas" width="640" height="480"></canvas>
            </div>
            <div id="color-controls">
                <div id="choosecolor">Color: </div>
                <div class="colorblock" id="green" onclick="color(this)"></div>
                <div class="colorblock" id="blue" onclick="color(this)"></div>
                <div class="colorblock" id="red" onclick="color(this)"></div>
                <div class="colorblock" id="yellow" onclick="color(this)"></div>
                <div class="colorblock" id="orange" onclick="color(this)"></div>
                <div class="colorblock" id="black" onclick="color(this)"></div>
                <div id="eraser" >Eraser:</div>
                <div class="colorblock" id="white" onclick="color(this)"></div>
            </div>
            <div id="button-set">
                <input type="button" value="Calculate Equation" id="calc" onclick="calculatEquation()" >
                <input type="button" value="Clear Canvas" id="clr" onclick="clearCanvas()" >            
                <input type="button" value="Download Canvas Image" id="dwnld" onclick="downloadCanvas()" >
            </div>
        </div>
        <div id="results-container">
            <div id="displayEquation">Predicted Equation:</div>
            <br>
            <hr>
            <br>
            <div id="displayResult"></div>
        </div>
            
    </div> <!-- container -->
    <canvas id=hidden-canvas width="640" height="480"></canvas>
  </body>
</html>
