<!--
File Name: draw.html

Author: Kelemen Szimonisz, Kaiser Slocum, Sofi Vinas
Organization: Map Culture (University of Oregon, CIS422, FALL 2021)
Team: Map Culture (Team 5)

Creation Date: 10/03/2021
Last Modified: 11/10/2021
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CIS 422: Project 2</title>    
        <meta charset="utf-8">
        <link rel="stylesheet" href="/draw/static/styledraw.css" />
        <script src="/draw/static/index.js"></script>
        <link rel="icon" type="image/x-icon" href="/static/mapcultureicon.ico" />
    </head>
    <body onload="init()">
        <div class="container"> <!---grid container--> <!---grid has base layout of rows and columns -->
            <div class="header">
                <li>
                    <ul><a href="/">Home</a></ul>
                    <ul><a href="/login">Account</a></ul>
                </li>          
            </div>
        <div class="side"> <!-- sidebar column of grid container -->
            <div class="imagelocation">
                <img src="/static/mapculturelogo.png" alt="mapculture logo">
            </div>
            <div class="image-upload">
                <label for="file">Choose image to upload: </label>
                <input type="file" id="myFile" accept="image/*" name="filename" onchange="loadfile(event)">
            </div>
            <div class="message-container">
                <h3 id="message"></h3>
            </div>
        </div> <!-- side -->
        <div class = "side" id="side2">
            <!-- Contains image screenshot -->
            <!--<h3>Last character inputted:</h3>-->
            <img id="canvasimg" style="display:inline;">
        </div>
        <div id="drawInterface">
            <canvas id="canvas" width="640" height="480"></canvas>
            <div id="choosecolor">Choose Your Color</div>
            <div class="colorblock" id="green" onclick="color(this)"></div>
            <div class="colorblock" id="blue" onclick="color(this)"></div>
            <div class="colorblock" id="red" onclick="color(this)"></div>
            <div class="colorblock" id="yellow" onclick="color(this)"></div>
            <div class="colorblock" id="orange" onclick="color(this)"></div>
            <div class="colorblock" id="black" onclick="color(this)"></div>
            <div id="eraser" >Eraser</div>
            <div class="colorblock" id="white" onclick="color(this)"></div>
            
            <input type="button" value="Calculate equation" id="calc" onclick="calculatEquation()" >
            <input type="button" value="Clear Drawn Character" id="clr" onclick="clearCanvas()" >            
            <input type="button" value="Download Canvas Image" id="dwnld" onclick="downloadCanvas()" >
            <div id="equationFormat">------------------------------ </div>
            <div id="displayEquation"></div>
            <div id="displayResult"></div>
            
        </div><!-- canvas and canvas related controls -->
    </div> <!-- container -->
  </body>
</html>