<!--
File Name: draw.html

Author: Kelemen Szimonisz, Kaiser Slocum, Sofi Vinas
Organization: Map Culture (University of Oregon, CIS422, FALL 2021)
Team: Map Culture (Team 5)

Creation Date: 10/03/2021
Last Modified: 11/10/2021
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CIS 422: Project 2</title>    
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/blacklist.css" />
        <script src="../static/blacklist.js"></script>
        <link rel="icon" type="image/x-icon" href="../../static/mapcultureicon.ico" />
    </head>
    <body onload=init()>
        <div class="container"> <!---grid container--> <!---grid has base layout of rows and columns -->
            <div class="header">
                <li>
                    <ul><a href="/">Home</a></ul>
                    <ul><a href="/login">Account</a></ul>
                </li>          
            </div>
        <div class="side"> <!-- sidebar column of grid container -->
            <div class="imagelocation">
                <img src="../../static/mapculturelogo.png" alt="mapculture logo">
            </div>
            <div id="multipleEquat">
                <label for="file">Choose .txt file to upload: </label>
                <input type="file" id="myFile" accept=".txt" name="filename" onchange="loadfile(event)">
            </div>
            <div id="singleEquat">  
                <input type="text" id="equation_input">            
                <input type="button" value="Publish" id="pub" onclick="publish()" >
                <input type="button" value="Unpublish" id="un_pub" onclick="unpublish()" >                            
            </div>            
        </div>    
        <div id="disabled_equations">
            <h2 class="message">Currently Disabled Equations</h2>
            <div id="list">
                <!-- All currently unpublished equations -->
                None
            </div>
            <h2 class="message">Recognized Uploaded Equations</h2>
            <div id="uploaded_equations">                
                <!-- All equations that are uploaded -->
                None
            </div>
            <input type="button" value="Publish All" id="pub" onclick="publishAll()" >
            <input type="button" value="Unpublish All" id="un_pub" onclick="unpublishAll()" > 
        </div>    
    </div>
  </body>
</html>