<!--
Statement: New or returning users will be directed to this web page to login or create their account
Authors: Liam Dauphinee, Kaiser Slocum
Team: Math Culture (Team 5)
Date Last Edited: 10/29/2021
-->
<html>
<head>
	<title>CIS 422: Project 2</title>
	<link rel="stylesheet" href="/auth/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/mathcultureicon.ico" />
</head>
<body onload="init()">
	<div class="hero"> 		
		<div class="form-box">
			<a href="/" >Home</a>
			<!-- This is the toggle button which is actually two buttons at the top of the main form box -->
			<div class="button-box">
				<button type="button" class="toggle-btn" onclick="show_signin()">Log In</button>
				<button type="button" class="toggle-btn" onclick="show_register()">Register</button>
				<button type="button" class="toggle-btn" onclick="show_profile()">Profile</button>
			</div>
		<!-- This is where a user would login if they already had an account -->
		<form id="sign_in" action="/sign_in" class="input-group">
			<input type="text" class="input-field" id="user_id" placeholder="User ID"required>
			<input type="password" class="input-field" id="password" placeholder="Enter Password"required>
			<input type="checkbox" class="check-box"><span>Remember Password</span>
			<button type="submit" class="submit-btn" onclick="login()">Log in</button>
		</form>
		<form id="profile" class="input-group">
			<label id="UserID">User ID:   </label>
			<label id="GroupID">Group ID: </label>
			<label id="RoleID">Role ID:   </label>
			<label id="Email">Email ID:   </label>
			<input type="password" class="input-field" id="oldpass" placeholder="Enter Password"required>
			<input type="password" class="input-field" id="newpass" placeholder="New Password"required>
			<input type="password" class="input-field" id="confirmpass" placeholder="Re-enter New Password"required>
			<button type="submit" class="submit-btn" id="changepassword">Submit Password Change</button>
			<button type="submit" class="submit-btn" onclick="location.href='/blocklist';">BLOCKLIST</button>
		</form>
		<!-- This is where a user would create their account if they're new -->
		<form id="register" class="input-group">
			<input type="text" class="input-field" placeholder="User ID"required>
			<input type="email" class="input-field" placeholder="Email ID"required>
			<input type="password" class="input-field" placeholder="Enter Password"required>
			<input type="checkbox" class="check-box"><span>I agree to the terms and conditions</span>
			<button type="submit" class="submit-btn" onclick="register()">Register</button>
		</form>
		</div>
	</div>
</body>
<script src="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.js%22%3E"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.css"/>
<script src="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-storage.js"></script>
<script>
	var firebaseConfig = {
	apiKey: "AIzaSyAQ9a_t_JqB4_uSCr03jG_68MbICca0Cfg",
	authDomain: "arithmetic-math-calculator.firebaseapp.com",
	projectId: "arithmetic-math-calculator",
	storageBucket: "arithmetic-math-calculator.appspot.com",
	messagingSenderId: "915244473465",
	appId: "1:915244473465:web:9931e1dde113b72c2208a8",
	measurementId: "G-404YZECCP9"
};
</script>


<script src="/auth/static/login.js"></script>
<script src="/auth/static/index.js"></script>
</html>
