<!-- 
Statement: New or returning users will be directed to this web page to login or create their account
Authors: Liam Dauphinee, Kaiser Slocum
Team: Map Culture (Team 5)
Date Last Edited: 11/15/2021
-->
<html>
<head>	
	<title>CIS 422: Project 2</title>
	<link rel="stylesheet" href="/auth/static/style.css">	
	<script src="/auth/static/login.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/mathcultureicon.ico" />
</head>
<body onload="init()">
	<div class="hero" > 		
		
		<div class="form-box">
			<a href="/" >Home</a>
			<!-- This is the toggle button which is actually two buttons at the top of the main form box -->
			<div class="button-box">				
				<button type="button" class="toggle-btn" onclick="show_signin()">Log In</button>
				<button type="button" class="toggle-btn" onclick="show_register()" id="midbtn">Register</button>
				<button type="button" class="toggle-btn" onclick="show_profile()">Profile</button>
			</div>
		<form id="profile" class="input-group">
			<label id="UserID">User ID:   </label>
			<label id="GroupID">Group ID: </label>
			<label id="RoleID">Role ID:   </label>
			<label id="Email">Email ID:   </label>
			<input type="password" class="input-field" id="oldpass" placeholder="Enter Password"required>
			<input type="password" class="input-field" id="newpass" placeholder="New Password"required>
			<input type="password" class="input-field" id="confirmpass" placeholder="Re-enter New Password"required>
			<button type="submit" class="submit-btn" onclick="changePassword();">Submit Password Change</button>
			<button type="submit" class="submit-btn" onclick="location.href='/blocklist';">BLACKLIST</button>
		</form>
		<!-- This is where a user would login if they already had an account -->
		<form id="sign_in" action="/sign_in" class="input-group">
			<input type="text" class="input-field" placeholder="User ID"required>
			<input type="password" class="input-field" placeholder="Enter Password"required>
			<input type="checkbox" class="check-box"><span>Remember Password</span>
			<button type="submit" class="submit-btn" onclick="signin()">Log in</button>
		</form>
		<!-- This is where a user would create their account if they're new -->
		<form id="register" class="input-group">
			<input type="text" class="input-field" placeholder="User ID"required>			
			<input type="text" class="input-field" placeholder="Group ID" required>
			<input type="email" class="input-field" placeholder="Email ID"required>
			<input type="password" class="input-field" placeholder="Enter Password"required>
			<input type="text" class="input-field" placeholder="Account Sign-Up Code" required>
			<input type="checkbox" class="check-box"><span id="TermsConditions">I agree to the terms and conditions</span>
			<div class="option-set"> <!-- distance and duration bubbles -->
				<input type="radio" name="radio" id="radio-student" checked="checked"/>
				<label id="radio-student-label" for="radio1">Student</label>
				<input type="radio" name="radio" id="radio-instructor"/>
				<label id="radio-instructor-label" for="radio2">Instructor</label>
			</div>
			<button type="submit" class="submit-btn" onclick="register()">Register</button>
		</form>				
		</div>
	</div> 	
</body>
</html>
