<!--
Statement: Introduces users to the website and supplies access to the other web pages
Authors: Kaiser Slocum
Team: Map Culture (Team 5)
Project: Math Culture
Date last edited: 11/7/2021
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CIS 422: Project 2</title>
    <meta charset="utf-8">
    <script src="/static/index.js"></script>
    <script src="/auth/static/login.js"></script>
    <link rel="stylesheet" href="/home/static/style.css" /> 
    <link rel="icon" type="image/x-icon" href="/static/mapcultureicon.ico" />
  </head>

<body>  
  <nav id="ya">      
    <li>
      <ul> <img src="/static/mathculturelogosmall.png" > </ul>  
      <ul> <a href="/">Home</a> </ul>        
      <ul> <a href="javascript:userLoggedIn();">Translate Image</a> </ul>
      <ul> <a href="/about">About us</a> </ul>
      <ul> <a href="/help">Help</a> </ul>
    </li>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn" id="buton">Account </button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#auth" id="e1">Login</a>
        <a href="#auth" id="e2">About</a>
      </div>
    </div>
  </nav>   
  <!-- A brief introduction to our software system -->  
  <section>
    <h1> A CUTTING EDGE SOFTWARE</h1>
    <h2> <i>Image Recognition of the future</i> </h2>
    <p> Utilize the latest technology in image recognition to read your math problems and solved it for you! </p>
    <p> <a href="/">Solve your problem now!</a></p>
  </section>
</body>
</html>


